# ======================
# BUILD
# ======================
target/
*.jar

# ======================
# LOGS
# ======================
*.log
*.txt

# ======================
# ENV (IMPORTANT)
# ======================
.env

# ======================
# IDE FILES
# ======================
.idea/
.vscode/
*.iml
*.ipr
*.iws

# ======================
# OS FILES
# ======================
.DS_Store

# ======================
# UPLOADS
# ======================
uploads/

# ======================
# MAVEN WRAPPER (OPTIONAL KEEP)
# ======================
!.mvn/wrapper/maven-wrapper.jar